{% extends "base.html" %}

{% load static %}
{% block content%}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p}}
        <button type="submit">Отправить</button>
    </form>
    <div class="container"> 
    <div class="column"></div> 
    <div class="column"><ul>
        {% if user.is_authenticated %}
        {% for file in all_files %}
        <a href="/add_file/{{file.id}}"><li>{{file.file}}</li>
        {% endfor %}
        {% endif %}
    </ul></div> 
    <div class="column"></div> 
    </div>
{%endblock%}