{% extends "base.html" %}
{% load static %}

{% block title %}Главная - Визуализатор данных{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-text">
        <h1>Превратите Скучные Данные в Потрясающие Визуализации!</h1>
        <h3>
            Устали тонуть в море цифр? 😵‍💫 Хотите мгновенно увидеть картину целиком?
            Просто загрузите свой CSV-файл, выберите, что хотите увидеть, и <b>вуаля!</b> – перед вами красивые, понятные графики и диаграммы! 📊📈📉<br><br>
            Раскройте скрытые инсайты, впечатлите коллег или просто наслаждайтесь ясностью. Никакой сложной настройки – только чистая магия данных! <br><br>
            Готовы оживить ваши цифры? 🔥
        </h3>
        <div class="home-cta">
            {% if user.is_authenticated %}
                <a href="{% url 'load_file' %}">Начать сейчас!</a>
            {% else %}
                <a href="{% url 'login' %}">Начать сейчас!</a>
            {% endif %}
        </div>
    </div>
    <div class="home-image">
        <img src="{% static 'img/Рисунок1.png' %}" alt="Пример визуализации">
    </div>
</div>
{% endblock %}