{% extends "base.html" %}

{% load static %}
{% block content%}
    <h1>Список книг</h1>
    <form method="GET" action="{% url 'books' %}">
        <input type="text" name="q" placeholder="Введите книгу">
        <button type="submit">Поиск</button>
    </form>
    <ul>
        {% for book in all_books %}
        <a href="/books/{{book.id}}"><li>{{book.title}}, {{book.author}}</li></a>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <a href="/books/add_book">
        <button>Добавить книгу</button>
    </a>
    {% endif %}
{%endblock%}