{% extends "base.html" %}

{% load static %}
{% block content %}
    <h1>Авторизация</h1>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Войти</button>
    </form> 
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <p>Еще нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
{% endblock %}
